/* THIS IS HOW TO COMMENT STUFF ON CSS FILES */

nav {
    background-color: green;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 10px 10px 5px blue;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-section {
    color: white;
    display: flex;
    align-items: center;
    height: 100%; /* Take up all of the nav height, should be good? */
    background-color: #880000;
}

.nav-section img {
    height: 100%;
    width: auto;
}
