/* THIS IS HOW TO COMMENT STUFF ON CSS FILES */

nav {
    background-color: var(--bg-color-grad);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 5px 5px 5px var(--black-shadow-color);
    padding: 20px;
}

.nav-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%; /* Take up all of the nav height, should be good? */
}

.nav-section img {
    height: 100%;
    width: auto;
}

.logo {
    font-size: 28px;
    font-weight: 600;
    color: var(--shade-color);
}

.dark-mode-toggle {
    color: var(--bg-color);
    background-color: transparent;
    border-style: solid;
    border-color: var(--accent-color);
    border-radius: 50%;
    border-width: 2px;
    height: 45px;
    width: 45px;
    transition: background-color 0.166666s ease;
    padding: 5px 5px;
    margin-right: 20px;
    transition: transform 0.166666s ease;
}

.dark-mode-toggle:active {
    transform: scale(0.9) scale(1);
    transition: transform 0.166666s ease;
}
